.banner{
    border-radius: 16px;
    background: linear-gradient(180deg, #010002 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../img/Banner.png');
    background-position: bottom center;
    height: 600px;
    width: 1200px;
    margin-top: 50px;
    margin-right: 100px;
   margin-left: 140px;
}
#happy-new-year{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
}
#new-year-party{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
padding-top: 170px;
}